GEMINI_API_KEY=AIzaSyDWLKPvJtqJfCtxgWlA-PkRC_pA4ICVOZE
GEMINI_MODEL=gemini-1.5-flash
GOOGLE_CLIENT_ID=798800743221-1q1dcunpt2o9cu0ihn6pfb7t8nfaphhi.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_URL=https://neona-ai-two.vercel.app
NEXTAUTH_SECRET=e07e2ad19daf7a38d0896cdc2095f1d285d41a5102e9e5afba0e1d603dbb834d
